.link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #000000;
  text-indent: 8px;
  border-left: 1px solid black;
  display: block;
  width: 176px;
  position: relative;

  &::before {
    position: absolute;
    right: 0;
    top: 0;
    content: '\2192';
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #86EDA9;
    justify-content: center;
    align-items: center;
  }
}